<div id="banner">
  <div class="banner-inner">
    <span id="logo"><span class="octicon octicon-mark-github"></span></span>

    <a href="https://github.com/angoca/db2unit" class="button fork"><strong>Fork me on GitHub</strong></a>
    <div class="downloads">
      <span>Download a <a href="https://github.com/angoca/db2unit/releases">release</a>:</span>
      <ul>
        <li><a href="https://github.com/angoca/db2unit/releases/download/db2unit-1/db2unit.zip" class="button">ZIP</a></li>
        <li><a href="https://github.com/angoca/db2unit/releases/download/db2unit-1/db2unit.tar.gz" class="button">TAR</a></li>
      </ul>
    </div>
  </div>
</div>
